:root {
  --head-font: "Montserrat", sans-serif;
  --head-black: #111111;
  --accent-black: #1e1823;
  --protec-grey: #4c4c4c;
  --accent-orange: #fd9222;
  --hover-ligth: #fcf1e0;
  --head-bacgraund: #fafafa;
}
h1,
h2,
h3,
h4,
h5,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
  color: inherit;
}

a {
  text-decoration: none;
  font-weight: inherit;
  color: inherit;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
button {
  cursor: pointer;
  border: none;
  background: none;
}
img {
  display: block;
}
body {
  font-family: var(--head-font);
  background-color: var(--head-bacgraund);
  font-weight: 400;
  font-size: 14px;
}
.container {
  max-width: 1168px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}
/* h2 section */
.recipe-intro,
.ingridients-intro,
.sellers-intro,
.products-intro {
  width: 486px;
  font-size: 24px;
  line-height: 28px;
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 50px;
}
.ingridients-intro-acc,
.recipe-acc,
.sellers-acc,
.products-acc {
  color: var(--accent-orange);
}

/* header */
.container.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wrapper {
  display: flex;
  align-items: center;
  gap: 90px;
}
.head-logo {
  font-style: italic;
}
.head-logo-acc {
  font-style: normal;
}
.menu {
}
.menu-block {
  display: flex;
  gap: 24px;
}
.menu-item {
}
.menu-link {
  padding-top: 32px;
  padding-bottom: 32px;
}
.social {
}
.social-blok {
  display: flex;
  gap: 14px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.social-item {
  border: 1px solid #4c4c4c;
  border-radius: 10px;
  padding: 8px;
  color: #fd9222;
}
.test {
  color: #fd9222;
}
/*  */
.hero {
}
.hero-wrapper {
  background: linear-gradient(rgba(17, 17, 17, 0.4)),
    url(/assets/image/img/hero-bg@2x.jpg);
  border-radius: 30px;
  color: var(--head-bacgraund);
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 381px;
  margin-bottom: 80px;
}

.head-intro {
  font-weight: 500;
  font-size: 28px;
  line-height: 121%;
  letter-spacing: -0.03em;
  max-width: 484px;
  margin-bottom: 40px;
}

.btn-wrapper {
  display: flex;
  justify-content: space-between;
  padding-bottom: 40px;
  align-items: center;
}

.btn-block {
  display: flex;
  gap: 14px;
}

.btn-buy-nav {
  padding: 14px 40px;
  border-radius: 100px;
  color: #fafafa;
  border: none;
  background-color: var(--accent-orange);
  font-weight: 700;
}
.btn-buy-nav:hover {
  transition: border 0.5s ease-in-out;
  color: #fd9222;
  background-color: rgba(252, 241, 224, 1);
  transition: border 0.5s ease-in-out, background-color 0.5s ease-in-out,
    color 0.5s ease-in-out;
}

.abtn-made {
  padding: 14px 40px;
  border-radius: 100px;
  border: 1px solid var(--hover-ligth);
}
.abtn-made:hover {
  transition: border 0.5s ease-in-out;
  color: var(--accent-orange);
  border: 1px solid var(--accent-orange);
  transition: border 0.5s ease-in-out, color 0.5s ease-in-out;
}

.abtn-scrol {
  position: relative;
  padding: 14px 40px;
  border-radius: 100px;
  border: 1px solid transparent;
  transition: border 0.5s ease-in-out;
}
.abtn-scrol::after {
  content: url(/assets/image/icon/scrol-down.png);
  position: absolute; /* Абсолютне позиціонування */

  width: 24px; /* Встановлення розміру */
}
.abtn-scrol:hover {
  border-color: var(--hover-ligth);
}
/* benefits */
.bg-full-sz {
  background-color: #1e1823;
  color: #ffffff;
}
.container {
}

.benefits {
  display: flex;
  gap: 88px;
  justify-content: space-between;
  padding-top: 50px;
  margin-bottom: 120px;
  padding-left: 15px;
  padding-right: 15px;
}
.benefits-blok {
  min-height: 168px;
  min-width: 188px;
}
.benefits-img {
  width: 62px;
  padding: 15px;
  border-radius: 100%;
  border: 1px solid var(--hover-ligth);
  margin-bottom: 22px;
}
.benefits-title {
  margin-bottom: 18px;
}
.benefits-text {
  margin-bottom: 50px;
  color: rgba(225, 225, 255, 0.7);
}
/* /benefits */

/* ingridients */
.ingridients-padd {
  margin-bottom: 120px;
}
.ingridients {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}
.ingridients-bloc {
  width: 260px;
  height: 270px;
  background-color: #fd9222;
  border-radius: 15px;
  padding: 28px 23px;
}
.ingridients-bloc:nth-child(1),
.ingridients-bloc:nth-child(5) {
  background-color: #fd9222;
}

.ingridients-bloc:nth-child(3),
.ingridients-bloc:nth-child(7) {
  background-color: black;
  color: var(--head-bacgraund);
}

.ingridients-bloc:nth-child(2),
.ingridients-bloc:nth-child(4),
.ingridients-bloc:nth-child(6) {
  background-color: transparent;
  border: 1px solid var(--accent-orange);
}
.ingridients-img {
  margin: 0 auto;
  width: 214px;
}
.ingridients-name {
  font-size: 14px;
  margin-top: 36px;
}
/* /ingridients */

/* how it's made */

.recipe-wrapper {
  display: flex;
  gap: 20px;
  margin-bottom: 120px;
}
.recipe-blok-img {
}
.recipe-img {
  min-width: 600px;
  height: 400px;
}
.recipe-blok-steps {
  padding: 32px;
  text-align: start;
  min-width: 400px;
}
.recipe-steps {
  margin-bottom: 28px;
}
.steps-blok {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.steps-iten {
}
.steps-iten::before {
  content: url(/assets/image/icon/Ellipse.png);
}

.recipe-text {
}

/* /how it's made */
/* products */

.products-bloc {
  display: flex;
  flex-wrap: wrap;
  gap: 18px;
}
.products-card {
  width: 270px;
  height: 364px;
  border: 1px solid transparent;
  border-radius: 15px;
  transition: border 0.5s ease-in-out;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.products-card:hover {
  border-color: rgba(17, 17, 17, 0.3);
  border-radius: 15px;
}
.products-img {
  margin-bottom: 8px;
}
.products-name {
  text-transform: uppercase;
  margin-bottom: 2px;
}
.products-type {
  margin-bottom: 18px;
}
.products-buy {
  background: rgba(250, 250, 250, 1);
  font-weight: 700;
  text-transform: uppercase;
  padding: 14px 40px;
  border-radius: 100px;
  border: 1px solid transparent;
  transition: border 0.5s ease-in-out, background-color 0.5s ease-in-out;
}

.products-buy:hover {
  border-color: rgba(17, 17, 17, 0.3);
  background-color: rgba(252, 241, 224, 1);
}
/* /products */
